
#box{
    height: 300px;
    width: 300px;
    background-color: crimson;
}
#box2{
    height: 300px;
    width: 300px;
    background-color: crimson;
    border-radius: 100%;
}

body{
    background-color: black;
}

h1{
    color: white;
}