*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
}

#main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
}

#main nav {
    display: flex;
}

#main nav a{
    display: flex;
    padding-left: 2em;
}

#container{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
    
}

#ball{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    opacity: 0;
}